<html>

<head>
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <article class="container">
        <span class="message-title">
            <h1><%= message.username %></h1>
            <span><%= message.added.toLocaleString() %></span>
        </span>
        <p class="message-text"><%= message.message %></p>
        <a class="back" href="/"> Go back </a>
    </article>
</body>

</html>