body {
    background-color: black;
    color: white;
    padding-top: 4rem;
}

h1 {
    text-align: center;
}

.container {
    border: 10px double white;
    padding: 3rem 2rem;
    width: 50%;
    margin: 0 auto;
}

.container p {
    text-wrap: wrap;
    word-break: break-word;
}

.message {
    background-color: rgba(255, 255, 255, 0.15);
    padding: 1rem 1rem 2rem 1rem;
    margin-bottom: 2rem;
    border-radius: 10px;
}

.message-info {
    display: flex;
    justify-content: space-between;
}

.open-message {
    display: block;
    margin-left: auto;
    width: fit-content;
    color: white;
}

.new {
    display: flex;
    align-items: center;
    color: yellow;
    text-decoration: none;
    column-gap: 1rem;
    width: fit-content;
    margin-left: auto;
}

.icon {
    font-size: 2rem;
}

.input-row {
    display: block;
    margin-bottom: 2rem;
}

.input-row label {
    display: block;
    margin-bottom: 0.6rem;
}

.input-row input {
    width: 100%;
    font-size: 1rem;
    font-family: inherit;
}

.input-row textarea {
    width: 100%;
    resize: vertical;
    font-family: inherit;
    font-size: 1rem;
    min-height: 5rem;
    max-height: 15rem;

}

button {
    border: 2px solid white;
    background-color: transparent;
    color: white;
    padding: 0.5rem 2rem;
    margin-left: auto;
    display: block;
    cursor: pointer;
}

.message-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.message-text {
    background-color: rgba(255, 255, 255, 0.15);
    padding: 1rem;
    border-radius: 10px;

}

.back {
    color: white;
}